# Load the Dataset

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('2019-Dec.csv')

In [6]:
df.head(5)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-12-01 00:00:00 UTC,remove_from_cart,5712790,1487580005268456287,NaN,f.o.x,6.27,576802932,51d85cb0-897f-48d2-918b-ad63965c12dc
1,2019-12-01 00:00:00 UTC,view,5764655,1487580005411062629,NaN,cnd,29.05,412120092,8adff31e-2051-4894-9758-224bfa8aec18
2,2019-12-01 00:00:02 UTC,cart,4958,1487580009471148064,NaN,runail,1.19,494077766,c99a50e8-2fac-4c4d-89ec-41c05f114554
3,2019-12-01 00:00:05 UTC,view,5848413,1487580007675986893,NaN,freedecor,0.79,348405118,722ffea5-73c0-4924-8e8f-371ff8031af4
4,2019-12-01 00:00:07 UTC,view,5824148,1487580005511725929,NaN,NaN,5.56,576005683,28172809-7e4a-45ce-bab0-5efa90117cd5

In [ ]:
plt.plot(df['event_type'], df['user_session'],df['brand'])

# Filter Relevant Data

In [ ]:
sales_funnel_data = df[df['event_type'].isin(['view', 'purchase'])]

In [ ]:
import matplotlib.pyplot as plt

# Bar Plot for Sales_funnel_data

In [ ]:

sales_funnel_data = df[df['event_type'].isin(['view', 'purchase'])]


user_counts = sales_funnel_data['event_type'].value_counts()


plt.bar(user_counts.index, user_counts.values)


plt.xlabel('Event Type')
plt.ylabel('Number of Users')
plt.title('Sales Funnel: Visits to Purchase')


plt.show()

In [ ]:
df.head(5)

# Calculate the Sales Funnel

In [ ]:
sales_funnel = sales_funnel_data.groupby(['user_id', 'event_type'])['event_type'].count().unstack(fill_value=0)
conversion_rate = sales_funnel['purchase'] / sales_funnel['view']

# Track Daily Conversion Rate (Purchase / Visits)

In [ ]:
daily_conversion_data = df[df['event_type'].isin(['view', 'purchase'])]

In [ ]:
daily_conversion = daily_conversion_data.groupby(['event_time', 'event_type'])['event_type'].count().unstack(fill_value=0)
daily_conversion_rate = daily_conversion['purchase'] / daily_conversion['view']

# Understand Products/Brands Driving Sale

In [ ]:
purchase_data = df[df['event_type'] == 'purchase']

In [ ]:
purchase_data.info()

# Analyze Products and Brands:

In [ ]:
top_products = purchase_data['product_id'].value_counts().head(10)
top_brands = purchase_data['brand'].value_counts().head(10)

In [ ]:
top_products.head(5)

In [ ]:
top_brands.head(5)